<div class="w-72 card-shop h-1/2 bg-white drop-shadow-md rounded-lg" *ngIf="product">
  <img
    class="object-cover rounded-tl-lg rounded-tr-lg h-1/2"
    src={{product.image}}
  />
  <div class="px-5 py-3 space-y-2">
    <h3 class="text-lg">{{product.description}}</h3>
    <div class="space-x-2">
    </div>
    <p class="space-x-2">
      <span class="text-2xl font-semibold">Ar {{product.price}}</span>
    </p>
    <div class="flex justify-between items-center pt-3 pb-2">
      <a
       (click)="addToCard()"
        class="px-4 py-2 bg-red-600 hover:bg-red-800 text-center text-sm text-white font-bold rounded duration-300"
      >
        Add to Cart
      </a>
      <a
      (click)="Cancel()"
       class="px-4 py-2 bg-blue-600 hover:bg-blue-800 text-center text-sm text-white font-bold rounded duration-300"
     >
       Cancel
     </a>
      <a
        href="#"
        title="Add to Favorites"
        class="text-2xl text-gray-300 hover:text-red-500 duration-300"
      >
        &hearts;
      </a>
    </div>
  </div>
</div>