<div
  class="signin-container w-screen grid grid-cols-2 transition duration-500 ease-in-out"
>
  <div class="conteiner-form w-full">
    <div class="center w-[60%] m-auto translate-y-1/4">
      <div class="header-form w-2/3 m-auto">
        <p class="w-10 h-10 bg-red-600 rounded-full m-auto"></p>
        <h1 class="text-center m-3 text-3xl">Signup !!</h1>
      </div>
      <form
        [formGroup]="SignupForm"
        class="w-10/12 m-auto mt-5"
        (ngSubmit)="submit()"
      >
        <div class="grid grid-cols-2">
          <div class="form-email  m-2">
            <input
              type="email"
              name="email"
              formControlName="email"
              placeholder="E-mail"
              class="w-full p-3 outline-none rounded-md bg-transparent bg-gray-200 border-2"
            />
          </div>
          <div class="form-email  mx-auto m-2">
            <input
              placeholder="name"
              formControlName="name"
              class="w-full p-3 outline-none rounded-md bg-transparent bg-gray-200 border-2"
            />
          </div>
        </div>
        <div>
          <div class="grid grid-cols-2">
            <div class="form-email mx-auto my-5">
              <input
                type="text"
                formControlName="city"
                placeholder="Ville"
                class="w-full p-3 outline-none rounded-md bg-transparent bg-gray-200 border-2"
              />
            </div>
            <div class="form-email mx-auto  ">
              <label for="countries" class="block text-sm  font-medium dark:text-white">Select an option</label>
              <select id="countries" class="p-4">
                <option selected>Choose a country</option>
                <option value="MG">Madagascar</option>
                <option value="CA"></option>
                <option value="FR">France</option>
                <option value="DE">Germany</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-email  m-2">
          <input
            type="text"
            placeholder="address"
            formControlName="address"
            class="w-full p-3 outline-none rounded-md bg-transparent bg-gray-200 border-2"
          />
        </div>
        <div class="container-password mx-auto my-5">
          <input
            type="password"
            name="password"
            placeholder="Password"
            formControlName="password"
            class="w-full p-3 outline-none bg-transparent bg-gray-200 rounded-md border-2"
          />
        </div>
        <div class="container-submit  mx-auto">
          <button type="submit" class="w-full rounded-lg bg-red-600 py-2">
            Register
          </button>
        </div>
        <div class="container-auth w-5/12 flex m-auto my-5">
          <hr class="border-gray-300 w-1/2 mr-4" />
          <span class="text-gray-400 font-bold">Or</span>
          <hr class="border-gray-300 w-1/2 ml-4" />
        </div>
        <div class="container-link  w-10/12 m-auto my-10">
          <h1 class="text-gray-900  text-center">
            don't have any account  <a routerLink="../login" class="font-bold " > SignIn
            </a>
          </h1>
        </div>
      </form>
    </div>
  </div>
  <div class="w-full">
    <img
      src="assets/images/background.png"
      alt="background"
      class="h-screen w-screen"
    />
  </div>
</div>
